body {
    display: flex;
    flex-direction: column;
justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #e9ecef;
   
    
}
 .container {
    display: block;
    text-align: center;
}
h1 {
    text-align: center;
    font-size: 4rem;
    font-weight: 790;
    text-transform: uppercase;
    margin-bottom: 30px;
    color:red;
}
button {
    display: inline-block;
    padding: 15px 40 px;
    font-size: 2.1rem;
    font-weight: 100;
    text-transform: uppercase;
    cursor: pointer;
    background-color:yellow;
    color: black;
    border: none;
    border-radius: 40px;
    transition: 0.2s;
}
button:hover {
    background-color: orange;
}
@media (max-width: 600px) {
    h1 {
        font-size: 2.5rem;
    }
}